*.mp4
*.flv
/aula2/ListaDeTarefas/nbproject/private/
/aula2/ListaDeTarefas/build/
/aula3/ListaDeTarefas/build/
/aula3/ListaDeTarefas/nbproject/private/
/aula3/ListaDeTarefas/dist/
/aula3/CadastroDeUsuarios/build/
/aula3/CadastroDeUsuarios/nbproject/private/
/aula3/MySQLConnector/build/
/aula3/MySQLConnector/nbproject/private/
/programas/ListaDeTarefasWebPersistente/nbproject/private/
/aula7/CadastroDeUsuariosWebPersistente/nbproject/private/
/aula7/CadastroDeUsuariosWebPersistente/build/
/aula8/ListaDeTarefasWebPersistente/nbproject/private/
/aula8/ListaDeTarefasWebPersistente/build/
/aula9/ListaDeTarefasWebPersistente/build/
/aula9/ListaDeTarefasWebPersistente/nbproject/private/
/aula11/ListaDeTarefasWebPersistente/build/
/aula11/ListaDeTarefasWebPersistente/nbproject/private/
/aula11/ListaDeTarefasWebPersistente/dist/
/aula11 (cópia)/ListaDeTarefasWebPersistente/build/
/aula11 (cópia)/ListaDeTarefasWebPersistente/dist/
/aula11 (cópia)/ListaDeTarefasWebPersistente/nbproject/private/
/aula12/ListaDeTarefasWebPersistente/build/
/aula12/ListaDeTarefasWebPersistente/dist/
/aula12/ListaDeTarefasWebPersistente/nbproject/private/
/aula13/ListaDeTarefasWebPersistenteAux/nbproject/private/
/aula13/ListaDeTarefasWebPersistenteAux/build/
/aula14/ListaDeTarefas/target/